body {
  background: #093d79;
  color: #1a9fe2;
  padding-top: 71px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 300;
  margin-top: 26px;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

h3 {
  font-size: 46px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  color: #1479ac;
}

li {
  margin-left: -28px;
}

.container {
  max-width: 690px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #1479ac;
  padding: 16px 10px;
}

.search-field {
  border: 1px solid #1479ac;
  border-radius: 4px;
  margin-right: 6px;
  padding: 5px;
  width: 269px;
}

.search-button {
  background: #093d79;
  border: 2px solid #1479ac;
  border-radius: 4px;
  color: #fff;
  padding: 4px 10px;
  transition: ease-in-out 200ms;
}

.search-button:hover {
  background: #fff;
  color: #1479ac;
}

.current-button {
  background: #03a9f4;
  border: 2px solid #03a9f4;
  border-radius: 4px;
  color: #fff;
  padding: 4px 10px;
  transition: ease-in-out 200ms;
}

.current-button:hover {
  background: #03a8f42c;
  color: #03a9f4;
}

.description {
  font-weight: 600;
}

.current-units {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -16px;
}

.coded {
  font-family: monospace;
}
